doctype html
html    
    head
        title dance academy
        block script
        block style
    body
        nav#navbar
            div#logo  
                a(href="#join")
                    |DANCE CLASS
               

            ul
                li #[a(href = '/') Home]
                li #[a(href = '/about.pug') About]
                li #[a(href = '/service.pug') Service]
                li #[a(href = '/contact.pug') Contact Us]
        block content
        
        block foot
    footer#foot copyright 2019-2020 | All right reserved