doctype html
html
    head    
        //- meta(charset='UTF-8')
        //- meta(name='viewport' content='width=device-width, initial-scale=1.0')
        //- meta(http-equiv='X-UA-Compatible' content='ie=edge')

        title this is title
        style
            include ../static/instyle.css 
                      
    
    body
        nav#navbar
            div#logo  
                a(href="#join")
                    |DANCE CLASS
               

            ul
                li #[a(href = '/') Home]
                li #[a(href = '/about') About]
                li #[a(href = '/service.') Service]
                li #[a(href = '/contact') Contact Us]
        
        section#introsection
            h1 WELCOME TO OUR DANCE CLASS
            div.pad1.pad this is the best dance class in  this city we have Lorem ipsum dolor sit amet consectetur adipisicing elit.
             | suscipit nobis facere qui dolorem voluptates, deleniti nihil laboriosam aperiam animi cum necessitatibus 
            
            
        section#sponsors
            h1 OUR MISSION
            div.pad1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptate tempora eos a sunt repellendus, natus laborum, 
                |odit repudiandae similique atque nobis debitis ducimus aspernatur inventore. Mollitia porro eligendi delectus inventore
                |repellat iusto similique, accusantium at ab dolore, facere ducimus odio, aut neque est necessitatibus. Pariatur veniam rem 
                |quod reiciendis.
            div.container
                div#img1
                    img(src="../static/img1.jpg", alt="")
                div#img2
                    img(src="../static/img4.jpg", alt="")
                div#img3
                    img(src="../static/img3.jpg", alt="")
            div.pad1.mar#ex Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quae animi quam dolor sapiente ducimus, deserunt veritatis numquam quos
                | modi, perspiciatis possimus enim dolorem! Voluptatem odit autem quos asperiores eligendi!
             
            span#extra.btn VIEW MORE       

        section#join
            h1 OUR PLANS
            h3 CHOOSE OUR PRICING
            div.container.cont
            
                div.card.pad1
                    div.ps-item
                        h3 Class drop-in
                        div.pi-price
                            h2 3500rs
                            span SINGLE CLASS
                        ul
                            li Free riding
                            li Unlimited equipments
                            li Personal trainer
                            li Weight losing classes
                            li Month to mouth
                            li No time restriction
                        a.primary-btn.pricing-btn(href='#') Enroll now

                div.card.pad1
                    div.ps-item
                        h3 Class drop-in
                        div.pi-price
                            h2 500rs
                            span SINGLE CLASS
                        ul
                            li Free riding
                            li Unlimited equipments
                            li Personal trainer
                            li Weight losing classes
                            li Month to mouth
                            li No time restriction
                        a.primary-btn.pricing-btn(href='#') Enroll now

                div.card.pad1
                    div.ps-item
                        h3 Class drop-in
                        div.pi-price
                            h2 1000rs
                            span SINGLE CLASS
                        ul
                            li Free riding
                            li Unlimited equipments
                            li Personal trainer
                            li Weight losing classes
                            li Month to mouth
                            li No time restriction
                        a.primary-btn.pricing-btn(href='#') Enroll now
        footer#foot copyright 2019-2020 | All right reserved


        script 
            include ../static/index.js 